* {
  font-family: Avenir;
}

body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 6em);


}

a {
color: #6fbbf6;
text-decoration: none;
}

/* nav bar */

nav {
  display: flex;
  grid-column: 2/7;
  justify-content: space-between;
  border-bottom: 1px solid #e8eaed;
  height: 70px;
  background-color: #FFFFFF;
}

li {
  display: inline-block;
}

.nav-list-left {
  display: flex;
  border-right: 1px solid #e8eaed;
  list-style: none;
  overflow: hidden;
}

.nav-list-right {
  display: flex;
  list-style: none;
  overflow: hidden;
}

#search-bar {
  font-size: 20px;
  border: none;
  color: #d1d0d5;
  height: 68px;
  width: 400px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-button {
  border: none;
  background-color: #FFFFFF;
}

/* header */

header {
  grid-column: 2/7;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;

}

.header-info {
  margin-left: 50px;
}

.header-title {
  color: #5c5e69;
} 

.header-subtitle-1 {
  color: #8c95a4;
  display: inline;
}

.header-subtitle-2 {
  display: inline;
}

.header-buttons {
  margin-right: 10px;
  position: relative;
}

.oval-large {
  background-color: #FFFFFF;
  padding: 5px 15px 5px 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-right: 10px;
}

.oval-small {
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #9ca3ae;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-right: 10px;
}

.oval-small-2 {
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #9ca3ae;  
}

.header-links {

}

.dash-link {
  
}

/* dash */

.dash {
  display: flex;
  grid-column: 2/7;
  grid-row: 3/4;
  justify-content: left;
  margin-top: 50px;
  overflow: hidden;
} 

.dash-area {
} 

.dash-link {
  margin-right: 50px;
  color: #8c95a4;
} 

 /* sidebar */

.sidebar {
  background-color: #354052;
  grid-column: 1/2;
  grid-row: 1/12;
}

.sidebar-head {
  display: inline-block;
  margin-left: 31px;
  margin-top: 20px;
  position: relative;
}

.profile-pic {
  width: 71%;
  border-radius: 100%;
}

.profile-name {
  color: #cad0dc;
  margin-left: 8px;
}

.sidebar-border {
  border-style: solid;
  border-size: 20px;
  border-color: #303846;
} 

.sidebar-list {
  display: flex;
  flex-direction: column;
  color: #cad0dc;
  margin-top: -6px;
}

.sidebar-subcategory {
  color: #67748b;
}


/* data section */

.data-area {
  grid-column: 2/7;
  grid-row: 4/6;
  background-color: #ecf1f5;
}

.test {
  display: flex;
  align-items: space-between;
  justify-content: center;
}

.placeholder-image {
  height: 20%;
  width: 26%;
}

.data-buttons {
  display: flex;
  align-items: space-between;
  justify-content: center;
} 

.middle-button {
  display: flex;
  align-items: space-between;
  justify-content: center;
  margin-top: 10px;
  border-bottom: 2px solid #d3dae1;
  
}



/* svg */

.circular-chart {
  max-width: 20%;
  max-height: 250px;
  flex-grow: 1;
}

.chart1 {
  stroke: #67b8bf;

}

.chart2 {
  stroke: #47a4f3;
}

.chart3 {
  stroke: #a46eab;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 2s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/*.svg-text {
  font-size: 10px;
}*/


/* description section */

.description-area  {
  grid-column: 2/5;
  grid-row: 7/11;
  margin-left: 40px;
}

/* table */

table {
  background-color: #FFFFFF;
  border: none;
  max-width: 600px;
}

thead {
  background-color: #717d93;
  color: white;
}

td {
  vertical-align: top;
  border-bottom: 1px solid #d3dae1;
  padding: 20px;
}

th {
  vertical-align: top;
  text-align: left;
}

.table-head {
  padding: 10px 20px 10px 20px;
}

.table-subtitle {
  color: #7f8ca0;
  font-size: 10px;
  font-weight: 700;
}

.table-text {
  color: #626d7d;
  font-size: 12px;
}

.edit-button {
  background-color: #7e8ba4;
  color: white;
  margin-left: 10px;
  padding: 7px 12px 7px 12px;
  border: none;
}





/* aside */

aside {
  grid-column: 5/8;
  grid-row: 7/11;
  margin-left: 80px;
  margin-right: 100px;
  }

.social-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.facebook-button {
  background-color: #5071bc;
  color: #FFFFFF;
  padding: 12px 5px 12px 5px;
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin-bottom: 20px;
} 

.twitter-button {
  background-color: #47aae9;
  color: #FFFFFF;
  padding: 12px 5px 12px 5px;
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin-bottom: 20px;

}

.linkedin-button {
  background-color: #3481b8;
  color: #FFFFFF;
  padding: 12px 5px 12px 5px;
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin-bottom: 20px;

}  

.aside-heading {

}

.aside-subheading {

}


.aside-form {
  
} 

.copy-input {

}

.copy-button {

}


/* icons */

.fa-bars {
  font-size: 30px;
  padding: 0px 20px 0px 20px;
}

.fa-circle {
  color: #99c354;
}

.fa-search {
  font-size: 25px;
  color: #d1d0d5;
}

.fa-user-circle {
  border-left: 1px solid #e8eaed;
  font-size: 30px;
  padding: 0px 20px 0px 20px;
}

.fa-calendar-plus {
  border-left: 1px solid #e8eaed;
  font-size: 30px;
  padding: 0px 20px 0px 20px;
}

.fa-check-square {
  color: #f9d549;
} 

.square-blue {
  color: #52aff8;
}

.square-red {
  color: #d73763;
}

.square-green {
  color: #4aa68b;
}

.fa-th {
  border-left: 1px solid #e8eaed;
  font-size: 30px;
  padding: 0px 20px 0px 20px;
}